.postcard {
	display: flex;
	flex-direction: column;
	background: white;
	width: 360px;
	height: 270px;
	margin: auto;
	padding: 15px;
	margin-top: 150px;
	
	
}

body {
	background: black;

}

.postcard-header {
	display: flex;
}

h1 {
	font-family: 'Handlee', cursive;
	text-align: justify;
	font-size: 30px;
	margin: 0px;
	width: 100%;
}

.postcard-header > img {
	width: 50px;
	height: 50px;
}

.postcard-body {
	display: flex;
}
.body-left > p {
	font-family: 'Handlee', cursive;
	font-size: 14px;
	text-align: justify;
	margin-top: 0px;
	margin-right: 10px;
	padding: 5px;
}

.body-left {
	width: 50%;
}

.body-right {
	width: 50%;
}

.body-right > input {
	width: 90%;
	padding: 5px;
	margin: 0px;
	border:none;
	border-bottom: 2px solid rgba(102, 100, 100, 0.596);
}

.postcard-footer {
	display: flex;
	justify-content: center;
}

.postcard-footer > button {
	background-color: rgba(197, 197, 197, 0.74);
}

input {font-family: 'Handlee', cursive;};